%h2 About

%h3 History

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id lorem elit. Nullam elit arcu, commodo quis malesuada eget, vestibulum a orci. Mauris augue ex, condimentum eget mauris id, cursus dignissim nulla. Suspendisse felis turpis, lobortis id ultricies at, aliquet id lectus. Curabitur sodales feugiat metus, in dignissim ante mattis eu. Proin interdum pharetra erat eu bibendum. Curabitur semper risus ut felis facilisis ornare. Phasellus maximus, ipsum non volutpat venenatis, sapien orci vehicula tortor, in euismod enim ipsum a lorem.

%p
  Donec accumsan euismod arcu, eu laoreet nisl. Duis posuere ligula quam, nec tristique nibh bibendum non. Nullam sodales, ante eget fringilla euismod, libero purus malesuada nulla, quis rhoncus lorem odio nec nibh. Integer interdum rhoncus lectus vitae rutrum. Mauris et placerat arcu. Donec pellentesque mi nec tellus volutpat, non sodales nisi gravida. Duis sed purus erat. Vestibulum vel neque at nisi aliquam tempor nec sed velit. Duis facilisis, dui non cursus venenatis, ligula justo tempus ipsum, quis feugiat libero sem in nibh. Quisque a congue tortor.

%p
  Nam at nunc eget elit hendrerit laoreet. Donec non lacus nibh. Vivamus pharetra fringilla turpis, a euismod augue aliquam vitae. Ut convallis nunc a orci ultrices, at tincidunt ex ultricies. Praesent aliquam nulla diam, vel aliquam leo convallis ut. Etiam sed tristique leo. Quisque posuere viverra ex at blandit. Nulla ullamcorper nisl lorem, vitae gravida orci sollicitudin pellentesque. Nunc auctor sem eget ullamcorper pellentesque. Pellentesque vel ante eget turpis luctus placerat sit amet nec nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet pharetra quam efficitur tristique. Sed suscipit enim egestas magna feugiat, varius malesuada neque sodales. Pellentesque et maximus ligula, sed ornare dolor.


%h3 Leadership

.leader
  =image_tag "val_aurora.jpg"
  %h4 Valerie Aurora, Board Member

  %p Valerie Aurora is the co-founder of the Ada Initiative, a non-profit supporting women in open technology and culture. Before that, she was an open source operating systems developer for over a decade. She likes to sew, 3D print, and write about technology.

.leader
  =image_tag "tina_coles.jpg"
  %h4 Tina Coles, Board Member, Multiculturalism and Inclusion Committee Chair

  %p Tina has over three decades of software development experience in Defense/Telecom/Internet. She is currently working as a technical project manager at Chatbots.io. Some of her passions are community service, life-long learning, mentoring girls/women in STEM, hiking and yarn — somehow magically all to be found with Double Union!

.leader
  =image_tag "amelia_greenhall.jpg"
  %h4 Amelia Greenhall, Executive Director

  %p Amelia Greenhall is cofounder and Executive Director of Double Union. She works at the Magic Vibes Corporation and publishes the Open Review Quarterly literary journal. Previously, she cofounded the publication Model View Culture and designed things for startups. She loves reading, writing, biking, climbing, and working on interesting things at DU.

.leader
  =image_tag "sally_maki.jpg"
  %h4 Sally Maki, Board Member

  %p Sally Maki is the treasurer of Double Union.  She is passionate about sustainability, socioeconomic issues, and human potential. She works on an analytics team for clean energy and customer programs at PG&E and volunteers with OpenOakland. She enjoys fresh food, biking through Oakland, and art and music festivals.

.leader
  =image_tag "gina_white.jpg"
  %h4 Gina White, Board Member

  %p Gina is a software engineer who has worked at big companies and small ones, including Google and Sun Microsystems. When not at Double Union, she can often be found volunteering at the Transgender Law Center. She loves being a part of the strong feminist community at Double Union.

