%h2 About

%h3 History

%p
  The spark that started Double Union was AdaCamp San Francisco, a feminist unconference in June 2013. At that event, a group of women came together to talk about starting feminist makerspaces where women’s needs are prioritized. Among them was Leigh Honeywell, who had just co-founded Seattle Attic, a feminist makerspace in Seattle, who freely shared her experience and tips for starting a new makerspace. Several women, including Double Union co-founders Amelia Greenhall, Valerie Aurora, and Liz Henry, were inspired to start a similar space in San Francisco. Our inspiration: “What if we had a space that felt like AdaCamp all year round?” They decided to create a space with the primary mission of being a comfortable and welcoming place for women to work on their projects.

%p
  After AdaCamp, about 10 women started meeting weekly at each other’s homes to brainstorm. Throughout the summer, they created and documented their shared values, raised money amongst themselves and people they knew, incorporated as a 501(c)(3) non-profit, adopted bylaws (largely based on those of The Ada Initiative), selected a board, got a bank account, and set up various kinds of online infrastructure. In October 2013 the board signed a lease on a space in the Fog Building, at 333 Valencia St in the Mission. After ripping out the carpets, building shelves and workbenches, and taking out the ceiling tiles to reveal hidden skylights, Double Union began accepting new members.

%p
  Double Union calls itself a hacker / maker space, because our mission is to create a space where women can feel equally comfortable knitting, coding, drawing, or using power tools and no one feels pressure to prove they belong here. We’re creating a culture where we don’t just make awesome stuff - we also ask questions, feel confused sometimes, and break things.

%p
  Another value we hold at Double Union is the idea that clearly defined structures and boundaries help create safer spaces. We have a shared anti-harassment policy and a list of base assumptions for members. 

%p
  Double Union’s decision-making structure is heavily influenced by Jo Freeman’s The Tyrrany of Structurelessness and has evolved over time as the organization has grown. At first, the people meeting informally made a lot of the founding decisions. After a couple of months, three people volunteered to incorporate Double Union and became the board of directors, responsible for making legal, financial, and high-level decisions. We also created the position of voting member, to decide on new member applications and take on higher-level responsibilities within the organization. A few weeks later, we created committees to make decisions about specific areas like screen printing and electronics. After about a year, we created committees to formalize and document all of our official and de-facto decision-making policies. We also paid multiculturalism and inclusion consultants about 15% of our annual budget to advise us on making Double Union more welcoming to a wider variety of women.

%h3 Decisionmaking at Double Union

%p
  We have a very active members-only mailing list where we propose and discuss things, and have members meetings about twice a month. This usually results in decisions without a formal process being necessary. Groups of 2+ members interested in a topic form committees, which generally have pre-approved budgets, to run events or be in charge of some aspect of the space's operation.

%p
  Our committees so far include bicycles, electronics, jobs, open source software, zine making, printmaking and textiles, public speaking, 3D printing/CNC machining. We also have several committees related to running Double Union together, such as developing our web application, networking/IT for the space, designing its physical space and constructing modifications, finance/administration, membership coordination, and maintaining the book library.

%p
  If something is hard to decide, controversial, or otherwise needs a final decision, our small board makes the decision. We don't want to get stuck in endless discussions; having a board avoids that problem. The board also does the legal and financial decision making involved in being a non-profit.

%h3 Leadership

.leader
  =image_tag "val_aurora.jpg"
  %h4 Valerie Aurora, Board Member

  %p Valerie Aurora is the co-founder of the Ada Initiative, a non-profit supporting women in open technology and culture. Before that, she was an open source operating systems developer for over a decade. She likes to sew, 3D print, and write about technology.

.leader
  =image_tag "mary_becica.jpg"
  %h4 Mary Becica, Board Member

  %p Mary Becica chairs the space committee at Double Union and works on designing and building the physical space. During the day Mary is a Director of Product Management at AppDirect, where she meets with a lot of people and thinks about enterprise software management. At night she works on data visualization projects, thinks about cryptocurrency futurism, and reads a lot. You can find her at @mbecica.

.leader
  =image_tag "tina_coles.jpg"
  %h4 Tina Coles, Board Member, Secretary, Director of Multiculturalism and Inclusion

  %p Tina has over three decades of software development experience in Defense/Telecom/Internet. She is currently working as a technical project manager at Chatbots.io. Some of her passions are community service, life-long learning, mentoring girls/women in STEM, hiking and yarn — somehow magically all to be found with Double Union!

.leader
  =image_tag "amelia_greenhall.jpg"
  %h4 Amelia Greenhall, Executive Director

  %p Amelia Greenhall is cofounder and Executive Director of Double Union. She works at the Magic Vibes Corporation and publishes the Open Review Quarterly literary journal. Previously, she cofounded the publication Model View Culture and designed things for startups. She loves reading, writing, biking, climbing, and working on interesting things at DU.

.leader
  =image_tag "sally_maki.jpg"
  %h4 Sally Maki, Board Member, Treasurer

  %p Sally Maki is the treasurer of Double Union.  She is passionate about sustainability, socioeconomic issues, and human potential. She works on an analytics team for clean energy and customer programs at PG&E and volunteers with OpenOakland. She enjoys fresh food, biking through Oakland, and art and music festivals.

.leader
  =image_tag "gina_white.jpg"
  %h4 Gina White, Board Member

  %p Gina is a software engineer who has worked at big companies and small ones, including Google and Sun Microsystems. When not at Double Union, she can often be found volunteering at the Transgender Law Center. She loves being a part of the strong feminist community at Double Union.

