%h2 About

%h3 Table of contents

%ul
  %li #{link_to "History", "#history"}
  %li #{link_to "Decisionmaking at Double Union", "#decisionmaking"}
  %li #{link_to "Leadership", "#leadership"}
  %li #{link_to "Tools", "#tools"}

%h3#history History

%p
  The spark that started Double Union was AdaCamp San Francisco, a feminist unconference in June 2013. At that event, a group of women came together to talk about starting feminist makerspaces where women’s needs are prioritized. Among them was Leigh Honeywell, who had just co-founded Seattle Attic, a feminist makerspace in Seattle, who freely shared her experience and tips for starting a new makerspace. Several women, including Double Union co-founders Amelia Greenhall, Valerie Aurora, and Liz Henry, were inspired to start a similar space in San Francisco. Our inspiration: “What if we had a space that felt like AdaCamp all year round?” They decided to create a space with the primary mission of being a comfortable and welcoming place for women to work on their projects.

%p
  After AdaCamp, about 10 women started meeting weekly at each other’s homes to brainstorm. Throughout the summer, they created and documented their shared values, raised money amongst themselves and people they knew, incorporated as a 501(c)(3) non-profit, adopted bylaws (largely based on those of The Ada Initiative), selected a board, got a bank account, and set up various kinds of online infrastructure. In October 2013 the board signed a lease on a space in the Fog Building, at 333 Valencia St in the Mission. After ripping out the carpets, building shelves and workbenches, and taking out the ceiling tiles to reveal hidden skylights, Double Union began accepting new members. In October 2015, we moved to a new space in Potrero Hill at 1250 Missouri St. #111.

%p
  Double Union calls itself a hacker / maker space, because our mission is to create a space where women can feel equally comfortable knitting, coding, drawing, or using power tools and no one feels pressure to prove they belong here. We’re creating a culture where we don’t just make awesome stuff - we also ask questions, feel confused sometimes, and break things.

%p
  Another value we hold at Double Union is the idea that clearly defined structures and boundaries help create safer spaces. We have a shared anti-harassment policy and a list of base assumptions for members.

%p
  Double Union’s decision-making structure is heavily influenced by Jo Freeman’s The Tyranny of Structurelessness and has evolved over time as the organization has grown. At first, the people meeting informally made a lot of the founding decisions. After a couple of months, three people volunteered to incorporate Double Union and became the board of directors, responsible for making legal, financial, and high-level decisions. We also created the position of voting member, to decide on new member applications and take on higher-level responsibilities within the organization. A few weeks later, we created committees to make decisions about specific areas like screen printing and electronics. After about a year, we created committees to formalize and document all of our official and de-facto decision-making policies. We also paid multiculturalism and inclusion consultants about 15% of our annual budget to advise us on making Double Union more welcoming to a wider variety of women.

%h3#decisionmaking Decisionmaking at Double Union

%p
  We have a members-only mailing list and internal chat system where we propose and discuss things, and we have members meetings about once a month. This usually results in decisions without a formal process being necessary. Groups of 2+ members interested in a topic form committees, to run events or be in charge of some aspect of the space's operation.

%p
  Our committees can be about a topic, such as bicycles or zinemaking. We also have several committees related to running Double Union together, such as developing our web applications, membership coordination, and updating our social media.

%p
  If something is hard to decide, controversial, or otherwise needs a final decision, our small board makes the decision. We don't want to get stuck in endless discussions; having a board avoids that problem. The board also does the legal and financial decision making involved in being a non-profit.

%h3#leadership Leadership

.leader
  =image_tag "golden.jpg"
  %h4 Alexsarah "Golden" Collier, Board Member, Executive Director

  %p Golden is a Bay-Area artist and educator with many ongoing projects and collaborations. In addition to their work at Double Union, they are the founder of Diasporan Savant Press (follow them on IG and etsy!) as well as Executive Director of Womanist Trilliance, an Allied Media Sponsored Project that seeks to build womanist community throughout the diaspora and celebrate the overlooked, nonetheless brilliant, historical and contemporary leadership of black women, queer, trans, and non-binary folks. He is also a member of Girl Army, a collective providing strengths-based sliding scale self defense courses for women, gender non-conforming/non-binary, and trans folks. Also, Golden is a member of Sula Collective, an apprentice-level beekeeper, motorcyclist, former world record holder, and metalsmith who enjoys dreamy hikes, practicing mindfulness, playing the viola/banjo, singing, the ocean, and libraries.

.leader
  =image_tag "carmen.jpg"
  %h4 Carmen Jackson, Board Member, Secretary

  %p Carmen is fascinated by the relationships people have with their computers. When not working as a software engineer, she rides horses, lifts weights, organizes events, reads, and hikes. She has previously served on the Board of Directors of Bay Area Derby, and joined Double Union’s board after volunteering for a year as a Membership Coordinator.

.leader
  =image_tag "dani_arias.jpg"
  %h4 Daniela (Dani) Arias, Board Member, Treasurer

  %p Dani is a Certified Public Accountant by day and loves playing with spreadsheets and mentoring women in business. She spends her free time biking, hiking, working on sewing projects, and enjoying the sounds of high hats, beeps, boops, and clickety-doops.

.leader
  =image_tag "liz.jpg"
  %h4 Liz Hubertz, Board Member

  %p Liz is a software infrastructure engineer with a background in political science and a passion for organizing systems and structures. Outside of work, she enjoys practicing her art, reading political theory and speculative fiction, writing poetry, climbing fake rocks, and facilitating SF Feminist Book Club.

.leader
  =image_tag "mathilde_mouw.jpg"
  %h4 Mathilde Mouw, Board Member

  %p Mathilde is a software engineer and creative technologist. She spends her waking hours, outside of her day job, looking for ways to do art and tech at the same time, such as writing code that makes music. She enjoys dancing ballet and mentoring new programmers who are entering the tech industry.

.leader
  =image_tag "christina.jpg"
  %h4 Christina Tran, Director of Multiculturalism and Inclusion

  %p Christina is an artist, writer, and wanderer who creates autobio comics about life, love, and loss. She is passionate about co-design and social justice, and teaches with the Social Lab at CCA. She holds space for grief through The Dinner Party, for women creatives through Empty House Art Lab, and for personal community through Popup Potlucks.

%h3#tools Tools

%p
  Below are some of the tools and activities you can find at Double Union!

.tools
  .tool
    =image_tag "sewing.jpg"
    %h4 Sewing and Fiber Arts

  .tool
    =image_tag "electronics.jpg"
    %h4 Electronics

  .tool
    =image_tag "drawing.jpg"
    %h4 Drawing

  .tool
    =image_tag "silk_screening.jpg"
    %h4 Silk Screening Tools

  .tool
    =image_tag "3d_printer_and_cnc.jpg"
    %h4 3D Printer and CNC

  .tool
    =image_tag "hand_tools.jpg"
    %h4 Hand Tools

  .tool
    =image_tag "button_maker.jpg"
    %h4 Button Maker

  .tool
    =image_tag "library.jpg"
    %h4 Library

  .tool
    =image_tag "tea.jpg"
    %h4 Tea, Coffee, and Mugs
