%h2 Leadership

.leader
  =image_tag "val_aurora.jpg"
  %h4 Valerie Aurora, Board Member

  %p Valerie Aurora is the co-founder of the Ada Initiative, a non-profit supporting women in open technology and culture. Before that, she was an open source operating systems developer for over a decade. She likes to sew, 3D print, and write about technology.

.leader
  %h4 Lillie Chilen, Chief Technology Officer

.leader
  %h4 Tina Coles, Board Member, Multiculturalism and Inclusion Committee Chair

  %p Tina has over three decades of software development experience in Defense/Telecom/Internet. She is currently working as a technical project manager at Chatbots.io. Some of her passions are community service, life-long learning, mentoring girls/women in STEM, hiking and yarn — somehow magically all to be found with Double Union!

.leader
  =image_tag "amelia_greenhall.jpg"
  %h4 Amelia Greenhall, Executive Director

  %p Amelia Greenhall is cofounder and Executive Director of Double Union. She works at the Magic Vibes Corporation and publishes the Open Review Quarterly literary journal. Previously, she cofounded the publication Model View Culture and designed things for startups. She loves reading, writing, biking, climbing, and working on interesting things at DU.
  
.leader
  %h4 Leigh Honeywell, Cheif Security Officer

.leader
  =image_tag "sally_maki.jpg"
  %h4 Sally Maki, Board Member

  %p Sally Maki is the treasurer of Double Union.  She is passionate about sustainability, socioeconomic issues, and human potential. She works on an analytics team for clean energy and customer programs at PG&E and volunteers with OpenOakland. She enjoys fresh food, biking through Oakland, and art and music festivals.

.leader
  =image_tag "gina_white.jpg"
  %h4 Gina White, Board Member

  %p Gina is a software engineer who has worked at big companies and small ones, including Google and Sun Microsystems. When not at Double Union, she can often be found volunteering at the Transgender Law Center. She loves being a part of the strong feminist community at Double Union.

