%h2 Support us

%p
  Double Union is supported entirely by donations, membership dues, and
  volunteers. We would love your support for our women-friendly
  makerspace in San Francisco! We hope to serve as a role model and resource
  for other makerspaces and hackerspaces around the world.

%h3 Make a donation
= render 'donate'
