%h2 Visiting

%h3 Location

%p
  We are located in Lower Potrero Hill at #{link_to "1250 Missouri St. #111", "https://www.google.com/maps/place/1250+Missouri+St,+San+Francisco,+CA+94107/@37.7504873,-122.3978271,17z/data=!3m1!4b1!4m2!3m1!1s0x808f7fae0730e01b:0x8ee0ca3bde3eae0d"}.

%h3 Access

%p
  Other than during events open to the public, Double Union visitors must be
  the invited guest of a member. Please do not visit without the express
  invitation of a member. Please do not invite guests unless you are a member.
  Guests may be any gender or age.

%h3 Conduct while in the space

%p
  Double Union has a strict #{link_to "anti-harassment policy", policies_path}
  which all visitors and members are expected to follow at all times. This
  policy is enforced by all Double Union members.

%h3 Open house

%p
  Open house events are open to the general public. Visitors do not need an
  invitation from a member to attend an open house, and may be any gender or
  age. We will announce when we start having open houses.

%h3 Accessibility

%p
  The building that Double Union is located in is fully ADA compliant. To 
  access the space, take the elevator to the first floor (1). 

%p
  Double Union is actively working to create a culture where we create and
  maintain accessible space. We will add more accessibility information as we
  go on, and would love feedback on how to improve.

%h3 Tools

%p
  Below are some of the tools and activties you can find at Double Union!

.tools
  .tool
    =image_tag "sewing.jpg"
    %h4 Sewing and Fiber Arts

  .tool
    =image_tag "electronics.jpg"
    %h4 Electronics

  .tool
    =image_tag "drawing.jpg"
    %h4 Drawing

  .tool
    =image_tag "handibot.jpg"
    %h4 Handibot

  .tool
    =image_tag "silk_screening.jpg"
    %h4 Silk Screening Tools

  .tool
    =image_tag "3d_printer_and_cnc.jpg"
    %h4 3D Printer and CNC

  .tool
    =image_tag "hand_tools.jpg"
    %h4 Hand Tools

  .tool
    =image_tag "button_maker.jpg"
    %h4 Button Maker

  .tool
    =image_tag "library.jpg"
    %h4 Library

  .tool
    =image_tag "tea.jpg"
    %h4 Tea, Coffee, and Mugs

