<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  $.get('https://app.doubleunion.org/public_members', function(response) {
    var currentMembers = $('.current-members');

    for (var i = 0; i < response.length; i++) {
      var member = response[i];

      var currentMember = $("<div class='current-member'/>");
      currentMembers.append(currentMember);

      var memberImage = $("<div class='member-image'>\
        <img class='icon-50' src='" + member.gravatar_url + "' alt='" + member.name + "'/>\
      </div>");
      currentMember.append(memberImage);

      var memberInfo = $("<div class='member-info'/>");
      currentMember.append(memberInfo);

      var memberName = $("<span class='member-name'/>");
      memberInfo.append(memberName);

      if (member.profile.website) {
        var website = member.profile.website;
        var href = (website.indexOf('://') === -1) ? 'http://' + website : website;
        memberName.append("<a href='" + href + "'>" + member.name + "</a>");
      } else {
        memberName.append(member.name);
      }

      var memberStatus = $("<span class='member-status'>\
        " + member.state.replace(/_/g, ' ') + "\
      </span>");
      memberInfo.append(memberStatus);
    }
  });
</script>


<h4 id='current-members'>Current members</h4>

<p>Some of our members include:</p>

<div class='current-members'/>
