<p>
  You can make a one-time or monthly recurring donation via PayPal.
  <a href='http://artsandmedia.net/'>
    Independent Arts and Media
  </a>
  is our fiscal sponsor, so your donation is tax deductible.
</p>

<form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'>
  <input name='cmd' type='hidden' value='_s-xclick'>
  <input name='hosted_button_id' type='hidden' value='7CNVVGHFDM2PY'>
  <button class='donate btn btn-primary' name='Support us' type='submit'>
    Donate via PayPal
  </button>
</form>
