<p>
  You can make tax deductible one-time or monthly recurring donations via PayPal.
</p>

<form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'>
  <input name='cmd' type='hidden' value='_s-xclick'>
  <input name='hosted_button_id' type='hidden' value='F3JZQ4WGA2JGQ'>
  <button class='donate btn btn-primary' name='Support us' type='submit'>
    Donate via PayPal
  </button>
</form>

<p>If you'd like to write a check (for example, if you want to donate from your donor-advised fund), you can make it out to Double Union and send it to our mailing address (which is different from our physical address):</p>

<p>
  Double Union<br/>
  2443 Fillmore St #380-8811<br/>
  San Francisco, CA 94115
</p>

<p>You may also need to provide our email address: board@doubleunion.org. If you need other information for your grant, such as a contact person's name and phone number, email us and we'll provide that for you.</p>
