---
---

@import "minima";
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,600);
@import url(//fonts.googleapis.com/css?family=Bree+Serif:400);

body {
  padding-top: 0px;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", sans-serif;
  font-weight: 800;
  line-height: 1.4;
}

strong {
  font-weight: 800;
}

p {
  margin: 17px 0;
}

.leader {
  margin-bottom: 45px;

  img {
    float: left;
    width: 106px;
    margin: 8px 20px 4px 0;
  }
}

.tool {
  width: 280px;
  float: left;
  margin-right: 80px;
  margin-bottom: 20px;
  text-align: center;

  @media (max-width: 600px) {
    width: 100%;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.current-member {
  width: 325px;
  float: left;
  margin-bottom: 10px;

  .member-image {
    float: left;
    width: 50px;
    height: 50px;
  }

  .member-info {
    float: right;
    width: 265px;
    padding: 5px 0;

    .member-name, .member-status {
      display: block;
      font-size: 16px;
      line-height: 20px;
    }

    .member-name {
      font-weight: bold;

      a {
        color: #428bca;
      }
    }

    .member-status {
      color: #999999;
    }
  }
}

.press {
  margin-bottom: 20px;

  .attribution {
    font-style: italic;
  }
}

.apply-button {
  padding: 10px 0 30px;
}

.alert {
  marign: 20px 0;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  padding: 15px;
  border-radius: 4px;
  font-size: 18px;

  p {
    margin: 0;
  }
}

.wrapper {
  max-width: 680px;
}

.site-header {
  background-color: #f8f8f8;
  border-top: none;
  height: 50px;
  margin: 0;

  .site-title {
    line-height: 50px;
  }

  .site-nav {
    float: none;
    padding: 2px 0 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 50px;

    .page-link {
      color: #777777;

      &:hover {
        color: #333333;
      }
    }
  }

  ul {
    margin-left: 15px;

    @media (min-width: 601px) {
      display: inline;
    }
  }

  li {
    display: inline;

    a {
      padding: 15px 10px;
      text-decoration: none;
    }
  }

  img {
    height: 50px;
    // margin: 5px 0;
  }

  .login-link {
    float: right;
  }
}

.site-footer {
  text-align: center;
  font-size: 14px;

  ul {
    margin-left: 0;
  }

  li {
    display: inline;
    margin-right: 12px;
  }

  .copyright {
    color: #999999;
  }
}

.home {
  h3 {
    font-size: 32px;
    text-align: center;
  }
}

.home-applications-open {
  text-align: center;
}

.home-banner {
  background: pink;
  background-image: url({{ "/assets/images/jumbotron.jpg" | absolute_url }});
  background-position: center;

  .home-banner-content {
    background-color: rgba(255,255,255,0.8);
    margin: 50px auto;
    font-size: 21px;
    max-width: 660px;

    h2 {
      font-size: 40px;
    }

    .home-banner-buttons {
      margin-top: 40px;
    }

    /* Narrow display jumbotron */
    @media (max-width: 599px) {
      margin: 15px;
      padding: 30px;
      h2 {
        font-size: 24px;
      }
    }

    /* Medium display jumbotron */
    @media (min-width: 600px) and (max-width: 959px) {
      padding: 40px;
      h2 {
        font-size: 40px;
      }
    }

    /* Wide display jumbotron */
    @media (min-width: 960px) {
      padding: 40px 155px;
      h2 {
        font-size: 40px;
      }
    }
  }
}



// Button stuff from bootstrap

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 10px 10px 10px 0;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default, .btn-default:visited {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-primary, .btn-primary:visited {
  color: #ffffff;
  background-color: #d23876;
  border-color: #be2361;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #ffffff;
  border-color: #be2361;
  background-color: #be2361;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
