/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_overrides
 *= require mixins
 *= require sticky-footer

 *= require static_index
 *= require static_membership
 *= require utilities
*/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,600);
@import url(//fonts.googleapis.com/css?family=Bree+Serif:400);

.container {
  max-width: 680px !important;
}

.alert {
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 50px;
  font-size: 14px;
  color: #999;
  li {
    display: inline;
    margin-right: 12px;
  }
}

.navbar {
  padding: 3px 0 1px 0;

  ul li span.non-link {
    display: block;
    padding: 15px 10px;
  }
}

.navbar-brand {
  padding: 0 5px 0 0;

  img {
    width: 48px;
  }
}

.press {
  margin-bottom: 20px;

  .attribution {
    font-style: italic;
  }
}

.leader {
  margin-bottom: 45px;

  img {
    float: left;
    width: 106px;
    margin: 8px 20px 4px 0;
  }
}

.tool {
  width: 280px;
  float: left;
  margin-right: 80px;
  margin-bottom: 20px;
  text-align: center;

  &:nth-child(2n) {
    margin-right: 0;
  }
  
  h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
